.b09dce1Ded9492fA4d3529494dIcon,
.b56e40e36cba43b3959b1ebfaaIcon {
  position: absolute;
  top: 55px;
  left: 38px;
  width: 100px;
  height: 188.2px;
  object-fit: cover;
}
.b56e40e36cba43b3959b1ebfaaIcon {
  top: 54px;
  left: 228px;
  height: 189px;
}
.b4117c496924d35876f2f827daIcon,
.cd115dd840aa46149b5c103813Icon {
  position: absolute;
  top: 296px;
  left: 38px;
  width: 100px;
  height: 187px;
  object-fit: cover;
}
.b4117c496924d35876f2f827daIcon {
  top: 295px;
  left: 223px;
  width: 101px;
  height: 188px;
}
.a2f938C81a4e53A38cBb8f9c73Icon,
.e688930d98cd4d27A75f7aa766Icon {
  position: absolute;
  top: 553px;
  left: 38px;
  width: 100px;
  height: 187px;
  object-fit: cover;
}
.e688930d98cd4d27A75f7aa766Icon {
  top: 552px;
  left: 223px;
  width: 101px;
  height: 188px;
}
.androidLarge19 {
  width: 100%;
  position: relative;
  background-color: var(--schemes-on-primary);
  height: 800px;
  overflow: hidden;
}
